name: deploy this stuff

on:
    push:
        branches: [main]

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - name: configure checkout-repo
              uses: actions/checkout@v3

            - name: configure terraform 
              uses: hashicorp/setup-terraform@v2
              with:
                terraform_version: latest

            - name: configure AWS credentials
              uses: aws-actions/configure-aws-credentials@v3
              with:
                aws-region: us-east-1
                aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID_VAR }}
                aws-secret-access-key:  ${{ secrets.AWS_SECRET_ACCESS_KEY_ID_VAR }}

            - name: terraform init fmt and validate
              run: |
                terraform init
                terraform fmt
                terraform validate

            - name: terraform plan 
              run: terraform plan

            - name: terraform apply
              run: terraform apply --auto-approve

            - name: terraform destroy
              run: terraform destroy --auto-approve
              



